<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>视频播放:${cameraName}</title>
    <script src="/jwplayer-7.7.1/jwplayer.js"></script>
    <script src="/js/jquery-3.2.1.min.js" />
    <script>jwplayer.key="iP+vLYU9H5KyhZeGt5eVuJJIoULUjltoaMeHXg==";</script>
</head>
<body>
<div th:id="player">
    <input th:id="rtmpUri" th:type="hidden" th:value="${streamVo.streamUri}" />
</div>
<script>
    <!--alert($("#rtmpUri").val());-->
    jwplayer("player").setup({
        playlist: [{
            sources: [{
                file: $("#rtmpUri").val()
            }]
        }],
        height: 360,
        primary: "flash",
        width: 640
    });

</script>
</body>
</html>